force-app/main/default/flows/Client_Update_if_a_consent_form_was_signed_or_not.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Client: Update if a consent form was signed or not {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Client: Update if a consent form was signed or not</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>B12_AMINO_ACID_INJECTION_INFORMED_CONSENT</name>
        <label>B12 &amp; AMINO ACID INJECTION INFORMED CONSENT</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>BOTOX_DYSPORT_TREATMENT_INFORMED_CONSENT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Choose_Consent_Forms_to_Sign__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>B12 &amp; AMINO ACID INJECTION INFORMED CONSENT</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>B12_AMINO_ACID_INJECTION__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>BOTOX_DYSPORT_TREATMENT_INFORMED_CONSENT</name>
        <label>BOTOX/DYSPORT TREATMENT INFORMED CONSENT</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>BTL_VANQUISH_ME_INFORMED_CONSENT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Choose_Consent_Forms_to_Sign__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>BOTOX/DYSPORT TREATMENT INFORMED CONSENT</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>B12_AMINO_ACID_INJECTION__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>BTL_VANQUISH_ME_INFORMED_CONSENT</name>
        <label>BTL VANQUISH ME INFORMED CONSENT</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>CMS_CANCELLATION_NOTICE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Choose_Consent_Forms_to_Sign__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>BTL VANQUISH ME INFORMED CONSENT</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>BTL_VANQUISH_ME__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>CMS_CANCELLATION_NOTICE</name>
        <label>CMS CANCELLATION NOTICE</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>DERMAPLANE_EXFOLIATION_INFORMED_CONSENT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Choose_Consent_Forms_to_Sign__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>CMS CANCELLATION NOTICE</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CMS_CANCELLATION_NOTICE__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>DERMAPLANE_EXFOLIATION_INFORMED_CONSENT</name>
        <label>DERMAPLANE EXFOLIATION INFORMED CONSENT</label>
        <locationX>176</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>EMSCULPT_INFORMED_CONSENT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Choose_Consent_Forms_to_Sign__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>DERMAPLANE EXFOLIATION INFORMED CONSENT</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>DERMAPLANE_EXFOLIATION__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>EMSCULPT_INFORMED_CONSENT</name>
        <label>EMSCULPT INFORMED CONSENT</label>
        <locationX>176</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>FACIAL_PEEL_INFORMED_CONSENT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Choose_Consent_Forms_to_Sign__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>EMSCULPT INFORMED CONSENT</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>EMSCULPT__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>FACIAL_PEEL_INFORMED_CONSENT</name>
        <label>FACIAL PEEL INFORMED CONSENT</label>
        <locationX>176</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>FACIAL_TREATMENT_INFORMED_CONSENT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Choose_Consent_Forms_to_Sign__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>FACIAL PEEL INFORMED CONSENT</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>FACIAL_PEEL__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>FACIAL_TREATMENT_INFORMED_CONSENT</name>
        <label>FACIAL TREATMENT INFORMED CONSENT</label>
        <locationX>176</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>FRACTIONAL_LASER_INFORMED_CONSENT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Choose_Consent_Forms_to_Sign__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>FACIAL TREATMENT INFORMED CONSENT</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>FACIAL_TREATMENT__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>FRACTIONAL_LASER_INFORMED_CONSENT</name>
        <label>FRACTIONAL LASER INFORMED CONSENT</label>
        <locationX>176</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>GENERAL_CONSENT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Choose_Consent_Forms_to_Sign__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>FRACTIONAL LASER INFORMED CONSENT</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>FRACTIONAL_LASER__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>GENERAL_CONSENT</name>
        <label>GENERAL CONSENT</label>
        <locationX>176</locationX>
        <locationY>1403</locationY>
        <connector>
            <targetReference>HYALURONIDASE_ADMINISTRATION_CONSENT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Choose_Consent_Forms_to_Sign__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>GENERAL CONSENT</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>GENERAL__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>HYALURONIDASE_ADMINISTRATION_CONSENT</name>
        <label>HYALURONIDASE ADMINISTRATION CONSENT</label>
        <locationX>176</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>INFORMED_CONSENT_FOR_MEDICALLY_MANAGEMENT_WEIGHT_LOSS_THERAPY</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Choose_Consent_Forms_to_Sign__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>HYALURONIDASE ADMINISTRATION CONSENT</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>HYALURONIDASE_ADMINISTRATION__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>INFORMED_CONSENT_FOR_MEDICALLY_MANAGEMENT_WEIGHT_LOSS_THERAPY</name>
        <label>INFORMED CONSENT FOR MEDICALLY MANAGEMENT WEIGHT LOSS THERAPY</label>
        <locationX>176</locationX>
        <locationY>1619</locationY>
        <connector>
            <targetReference>INTENSE_PULSED_LIGHT_IPL_INFORMED_CONSENT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Choose_Consent_Forms_to_Sign__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>INFORMED CONSENT FOR MEDICALLY MANAGEMENT WEIGHT LOSS THERAPY</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>MEDICALLY_MANAGEMENT_WEIGHT_LOSS_THERAP__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>INTENSE_PULSED_LIGHT_IPL_INFORMED_CONSENT</name>
        <label>INTENSE PULSED LIGHT (IPL) INFORMED CONSENT</label>
        <locationX>176</locationX>
        <locationY>1727</locationY>
        <connector>
            <targetReference>JUVEDERM_INFORMED_CONSENT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Choose_Consent_Forms_to_Sign__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>INTENSE PULSED LIGHT (IPL) INFORMED CONSENT</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>INTENSE_PULSED_LIGHT_IPL__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>JUVEDERM_INFORMED_CONSENT</name>
        <label>JUVEDERM INFORMED CONSENT</label>
        <locationX>176</locationX>
        <locationY>1835</locationY>
        <connector>
            <targetReference>JUVEDERMVOLUMA_INFORMED_CONSENT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Choose_Consent_Forms_to_Sign__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>JUVEDERM INFORMED CONSENT</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>JUVEDERM__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>JUVEDERMVOLUMA_INFORMED_CONSENT</name>
        <label>JUVEDERMVOLUMA INFORMED CONSENT</label>
        <locationX>176</locationX>
        <locationY>1943</locationY>
        <connector>
            <targetReference>KYBELLA_Informed_Consent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Choose_Consent_Forms_to_Sign__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>JUVEDERMVOLUMA INFORMED CONSENT</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>JUVEDERMVOLUMA__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>KYBELLA_Informed_Consent</name>
        <label>KYBELLA Informed Consent</label>
        <locationX>176</locationX>
        <locationY>2051</locationY>
        <connector>
            <targetReference>LASER_HAIR_REMOVAL_INFORMED_CONSENT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Choose_Consent_Forms_to_Sign__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>KYBELLA Informed Consent</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>KYBELLA__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>LASER_HAIR_REMOVAL_INFORMED_CONSENT</name>
        <label>LASER HAIR REMOVAL INFORMED CONSENT</label>
        <locationX>176</locationX>
        <locationY>2159</locationY>
        <connector>
            <targetReference>LASER_VEIN_TREATMENT_INFORMED_CONSENT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Choose_Consent_Forms_to_Sign__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>LASER HAIR REMOVAL INFORMED CONSENT</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>LASER_HAIR_REMOVAL__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>LASER_VEIN_TREATMENT_INFORMED_CONSENT</name>
        <label>LASER VEIN TREATMENT INFORMED CONSENT</label>
        <locationX>176</locationX>
        <locationY>2267</locationY>
        <connector>
            <targetReference>NITRO_BID_OINTMENT_CONSENT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Choose_Consent_Forms_to_Sign__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>LASER VEIN TREATMENT INFORMED CONSENT</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>LASER_VEIN_TREATMENT__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>NITRO_BID_OINTMENT_CONSENT</name>
        <label>NITRO-BID OINTMENT CONSENT</label>
        <locationX>176</locationX>
        <locationY>2375</locationY>
        <connector>
            <targetReference>PHOTOGRAPHY_CONSENT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Choose_Consent_Forms_to_Sign__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>NITRO-BID OINTMENT CONSENT</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>NITRO_BID_OINTMENT__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>PHOTOGRAPHY_CONSENT</name>
        <label>PHOTOGRAPHY CONSENT</label>
        <locationX>176</locationX>
        <locationY>2483</locationY>
        <connector>
            <targetReference>RESTYLANE_INJECTION_INFORMED_CONSENT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Choose_Consent_Forms_to_Sign__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>PHOTOGRAPHY CONSENT</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>PHOTOGRAPHY__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>RESTYLANE_INJECTION_INFORMED_CONSENT</name>
        <label>RESTYLANE INJECTION INFORMED CONSENT</label>
        <locationX>176</locationX>
        <locationY>2591</locationY>
        <connector>
            <targetReference>SCULPTRA_AESTHETIC_INFORMED_CONSENT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Choose_Consent_Forms_to_Sign__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>RESTYLANE INJECTION INFORMED CONSENT</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>RESTYLANE_INJECTION__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SCULPTRA_AESTHETIC_INFORMED_CONSENT</name>
        <label>SCULPTRA AESTHETIC INFORMED CONSENT</label>
        <locationX>176</locationX>
        <locationY>2699</locationY>
        <connector>
            <targetReference>SKINPEN_INFORMED_CONSENT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Choose_Consent_Forms_to_Sign__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>SCULPTRA AESTHETIC INFORMED CONSENT</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>SCULPTRA_AESTHETIC__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SKINPEN_INFORMED_CONSENT</name>
        <label>SKINPEN INFORMED CONSENT</label>
        <locationX>176</locationX>
        <locationY>2807</locationY>
        <connector>
            <targetReference>SKINVIVE_CONSENT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Choose_Consent_Forms_to_Sign__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>SKINPEN INFORMED CONSENT</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>SKINPEN__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SKINVIVE_CONSENT</name>
        <label>SKINVIVE CONSENT</label>
        <locationX>176</locationX>
        <locationY>2915</locationY>
        <connector>
            <targetReference>TATTOO_LASER_TREATMENT_INFORMED_CONSENT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Choose_Consent_Forms_to_Sign__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>SKINVIVE CONSENT</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>SKINVIVE__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>TATTOO_LASER_TREATMENT_INFORMED_CONSENT</name>
        <label>TATTOO LASER TREATMENT INFORMED CONSENT</label>
        <locationX>176</locationX>
        <locationY>3023</locationY>
        <connector>
            <targetReference>TRUSCULPT_INFORMAED_CONSENT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Choose_Consent_Forms_to_Sign__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>TATTOO LASER TREATMENT INFORMED CONSENT</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>TATTOO_LASER_TREATMENT__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>TRUSCULPT_INFORMAED_CONSENT</name>
        <label>TRUSCULPT INFORMAED CONSENT</label>
        <locationX>176</locationX>
        <locationY>3131</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Choose_Consent_Forms_to_Sign__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>TRUSCULPT INFORMAED CONSENT</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>TRUSCULPT__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>X2021_CANCELLATION_POLICY_ADDENDUM_signed</name>
        <label>2021 CANCELLATION POLICY / ADDENDUM signed</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>B12_AMINO_ACID_INJECTION_INFORMED_CONSENT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Choose_Consent_Forms_to_Sign__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>2021 CANCELLATION POLICY / ADDENDUM</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>X2021_CANCELLATION_POLICY_ADDENDUM__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>X2021_CANCELLATION_POLICY_ADDENDUM_signed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Choose_Consent_Forms_to_Sign__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
