force-app/main/default/flows/Create_Opportunity_Quote_and_Line_Item.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Process_Product_for_Dermal</name>
        <label>Process Product for Dermal</label>
        <locationX>1106</locationX>
        <locationY>782</locationY>
        <actionName>MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_on_Child_Dermal_Filler</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>values</name>
        </inputParameters>
        <nameSegment>MultiSelectFlowValues</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Process_Product_for_Detox</name>
        <label>Process Product for Detox</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <actionName>MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_on_Child_Detox</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>Get_Botox_Child.Botox_Dysport_Procedure_Injectable__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MultiSelectFlowValues</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Process_Product_Values_in_Collection</name>
        <label>Process Product Values in Collection</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <actionName>MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_on_Child</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>Get_Child_Esthetic_Records.Aesthetic_consult_Products__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MultiSelectFlowValues</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>AssignRecords</name>
        <label>AssignRecords</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>QuoteLineRecord.SBQQ__Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineRecord.SBQQ__Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Quote_Line_Product.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuoteLineRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Quote_Line_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignRecords_Dermal</name>
        <label>AssignRecords Dermal</label>
        <locationX>1370</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>QuoteLineRecord.SBQQ__Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineRecord.SBQQ__Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Quote_Line_Item_for_Dermal.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuoteLineRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Quote_Line_Item_for_Dermal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignRecords_Detox</name>
        <label>AssignRecords Detox</label>
        <locationX>842</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>QuoteLineRecord.SBQQ__Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineRecord.SBQQ__Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Quote_Line_Item_for_Detox.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuoteLineRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Quote_Line_Item_for_Detox</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Esthetic_Records_Available_or_Not</name>
        <label>Check Esthetic Records Available or Not</label>
        <locationX>710</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Create_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Esthetic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>estheticID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunity</targetReference>
            </connector>
            <label>Is Esthetic</label>
        </rules>
        <rules>
            <name>Is_Botox_Dysports</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BotoxParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunity_Botox</targetReference>
            </connector>
            <label>Is Botox / Dysports</label>
        </rules>
        <rules>
            <name>Is_Dermal_Filler</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DermalParentID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunity_Dermal_Filler</targetReference>
            </connector>
            <label>Is Dermal Filler</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create Opportunity, Quote and Line Item {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Opportunity, Quote and Line Item</label>
    <loops>
        <name>Create_Quote_Line_Item_for_Dermal</name>
        <label>Create Quote Line Item for Dermal</label>
        <locationX>1282</locationX>
        <locationY>1106</locationY>
        <collectionReference>Get_Product_for_Dermal_Filler</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignRecords_Dermal</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_on_Child_Dermal_Filler</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Create_Quote_Line_Item_for_Detox</name>
        <label>Create Quote Line Item for Detox</label>
        <locationX>754</locationX>
        <locationY>1214</locationY>
        <collectionReference>Get_Product_for_Detox</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignRecords_Detox</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_on_Child_Detox</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Create_Quote_Line_Product</name>
        <label>Create Quote Line Product</label>
        <locationX>226</locationX>
        <locationY>1106</locationY>
        <collectionReference>Get_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignRecords</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_on_Child</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Child</name>
        <label>Loop on Child</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <collectionReference>Process_Product_Values_in_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Products</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Quote_Line</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Child_Dermal_Filler</name>
        <label>Loop on Child Dermal Filler</label>
        <locationX>1106</locationX>
        <locationY>890</locationY>
        <collectionReference>Process_Product_for_Dermal</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Product_for_Dermal_Filler</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Quote_Line_Dermal</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Child_Detox</name>
        <label>Loop on Child Detox</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <collectionReference>Process_Product_for_Detox</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Product_for_Detox</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Quote_Line_Detox</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Opportunity</name>
        <label>Copy 1 of Create Opportunity</label>
        <locationX>1370</locationX>
        <locationY>350</locationY>
        <assignRecordIdToReference>opportunityID</assignRecordIdToReference>
        <connector>
            <targetReference>Copy_1_of_Create_Quote</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Client_Records.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Client_Records.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Create_Quote</name>
        <label>Copy 1 of Create Quote</label>
        <locationX>1370</locationX>
        <locationY>458</locationY>
        <assignRecordIdToReference>quoteID</assignRecordIdToReference>
        <inputAssignments>
            <field>SBQQ__Opportunity2__c</field>
            <value>
                <elementReference>opportunityID</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignRecordIdToReference>opportunityID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Quote</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Client_Records.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Client_Records.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity_Botox</name>
        <label>Create Opportunity Botox</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignRecordIdToReference>opportunityID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Quote_Botox</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Client_Records.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Client_Records.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity_Dermal_Filler</name>
        <label>Create Opportunity Dermal Filler</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <assignRecordIdToReference>opportunityID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Quote_Dermal_Filler</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Client_Records.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Client_Records.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Quote</name>
        <label>Create Quote</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignRecordIdToReference>quoteID</assignRecordIdToReference>
        <connector>
            <targetReference>Esthetic_consult_Recommendations</targetReference>
        </connector>
        <inputAssignments>
            <field>SBQQ__Opportunity2__c</field>
            <value>
                <elementReference>opportunityID</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Quote_Botox</name>
        <label>Create Quote Botox</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignRecordIdToReference>quoteID</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Botox_Parent</targetReference>
        </connector>
        <inputAssignments>
            <field>SBQQ__Opportunity2__c</field>
            <value>
                <elementReference>opportunityID</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Quote_Dermal_Filler</name>
        <label>Create Quote Dermal Filler</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <assignRecordIdToReference>quoteID</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Dermal_Filler_Parent</targetReference>
        </connector>
        <inputAssignments>
            <field>SBQQ__Opportunity2__c</field>
            <value>
                <elementReference>opportunityID</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Quote_Line</name>
        <label>Create Quote Line</label>
        <locationX>50</locationX>
        <locationY>1490</locationY>
        <inputReference>QuoteLineItemList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Quote_Line_Dermal</name>
        <label>Create Quote Line Dermal</label>
        <locationX>1106</locationX>
        <locationY>1490</locationY>
        <inputReference>QuoteLineItemList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Quote_Line_Detox</name>
        <label>Create Quote Line Detox</label>
        <locationX>578</locationX>
        <locationY>1598</locationY>
        <inputReference>QuoteLineItemList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Esthetic_consult_Recommendations</name>
        <label>Esthetic consult Recommendations</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Child_Esthetic_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>estheticID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Aesthetic_Consult_Recommendations__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Botox_Child</name>
        <label>Get Botox Child</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Process_Product_for_Detox</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Botox_Dysport__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BotoxParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Botox_Dysport_S__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Botox_Parent</name>
        <label>Get Botox Parent</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Botox</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BotoxParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Botox_Dysport__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Child_Dermal_Filler</name>
        <label>Get Child Dermal Filler</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Process_Product_for_Dermal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dermal_Filler__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DermalParentID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Dermal_Filler_S__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Child_Esthetic_Records</name>
        <label>Get Child Esthetic Records</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Process_Product_Values_in_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Esthetic_Consult_Recommendations__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>estheticID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Recommendations_for_Aesthetic_consult__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Client_Records</name>
        <label>Get Client Records</label>
        <locationX>710</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Esthetic_Records_Available_or_Not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Dermal_Filler_Parent</name>
        <label>Get Dermal Filler Parent</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Child_Dermal_Filler</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DermalParentID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Dermal_Filler__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_for_Dermal_Filler</name>
        <label>Get Product for Dermal Filler</label>
        <locationX>1282</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Quote_Line_Item_for_Dermal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Loop_on_Child_Dermal_Filler</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_for_Detox</name>
        <label>Get Product for Detox</label>
        <locationX>754</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Quote_Line_Item_for_Detox</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Loop_on_Child_Detox</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Products</name>
        <label>Get Products</label>
        <locationX>226</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Quote_Line_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Loop_on_Child</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Botox</name>
        <label>Botox</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Botox_Child</targetReference>
        </connector>
        <fields>
            <name>Dis</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Botox Id ::::{!BotoxParentId}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Client_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BotoxParentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DermalParentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>estheticID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>opportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>quoteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QuoteIineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>QuoteLineItemList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>QuoteLineRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
