force-app/main/default/flows/Lead_Custom_Outbound_New_Appointment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Save_Appointment</name>
        <label>Save Appointment</label>
        <locationX>732</locationX>
        <locationY>2462</locationY>
        <actionName>saveAppointment</actionName>
        <actionType>saveAppointment</actionType>
        <connector>
            <targetReference>update_Service_appointmnet</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SetReviewStage</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>optionalServiceResourceId</name>
            <value>
                <elementReference>optionalAttendees</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceAppointmentFields</name>
            <value>
                <elementReference>serviceAppointmentFields</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceResources</name>
            <value>
                <elementReference>serviceResources</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>selectedTimezone</name>
            <value>
                <elementReference>selectedTimezone</elementReference>
            </value>
        </inputParameters>
        <nameSegment>saveAppointment</nameSegment>
        <outputParameters>
            <assignToReference>ServiceAppointment.Id</assignToReference>
            <name>serviceAppointmentId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>C1_of_Set_lat_and_long</name>
        <label>C1 of Set  lat and long</label>
        <locationX>842</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>locationLatitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>28.58890781350437</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>locationLongitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>-81.3617576327333</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Service_Teritry.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ResourceDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Selected_Values_on_Change</name>
        <label>Clear Selected Values on Change</label>
        <locationX>424</locationX>
        <locationY>2246</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.AdditionalInformation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Comments</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.AppointmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.SchedStartTime</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.SchedEndTime</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>optionalAttendees</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>serviceAppointmentFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>validationErrors</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>workTypeGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedTriageOption</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FIND_RESOURCE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AttendeesStage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>changePrimary</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>serviceResources</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>skillsStartDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Primary_Resource_Change_Screen_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Set_lat_and_long</name>
        <label>Copy 1 of Set  lat and long</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>locationLatitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>28.551659996044133</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>locationLongitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>-81.54139802598841</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Service_Teritry.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ResourceDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Copy_1_of_Set_lat_and_long</name>
        <label>Copy 2 of Copy 1 of Set  lat and long</label>
        <locationX>578</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>locationLatitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>28.6519858169066</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>locationLongitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>-81.20617650389511</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Service_Teritry.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ResourceDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Anonymous_Status</name>
        <label>Set Anonymous Status</label>
        <locationX>578</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.IsAnonymousBooking</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetTimeSlotStage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_la</name>
        <label>Set  lat and long</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>locationLatitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>28.78190098912141</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>locationLongitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>-81.35694589039784</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Service_Teritry.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ResourceDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Triage_Option</name>
        <label>Set Triage Option</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>selectedTriageOption</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FIND_RESOURCE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TopicScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetAppointmentStage</name>
        <label>Set Appointment Stage</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AppointmentTypeStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AppointmentTypeScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCandidateStage</name>
        <label>Set Candidate Stage</label>
        <locationX>314</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CandidateStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CandidateScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetConfirmationStage</name>
        <label>Set Confirmation Stage</label>
        <locationX>732</locationX>
        <locationY>2678</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConfirmationStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_lead_status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetInitialValues</name>
        <label>Set Initial Values</label>
        <locationX>1106</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ParentRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.AdditionalInformation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Comments</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.AppointmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.SchedStartTime</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.SchedEndTime</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>optionalAttendees</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>serviceAppointmentFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>validationErrors</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>workTypeGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>serviceResourceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedTriageOption</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FIND_RESOURCE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedTimezone</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.IsAnonymousBooking</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.EngagementChannelTypeId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_lead.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_lead.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Service_Resource_Selection_Screen_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetLocationStage</name>
        <label>Set Location Stage</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LocationStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Service_Teritry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReviewStage</name>
        <label>Set Review Stage</label>
        <locationX>732</locationX>
        <locationY>2246</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReviewStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ReviewScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetTimeSlotStage</name>
        <label>Set Time Slot Stage</label>
        <locationX>578</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TimeSlotStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_service_resource_details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetTopicStage</name>
        <label>Set Topic Stage</label>
        <locationX>1106</locationX>
        <locationY>3386</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TopicStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>TopicScreen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CoutureMedSpaLakeMary</name>
        <choiceText>&lt;strong style=&quot;font-size: 14px;&quot;&gt;Couture Med Spa - Lake Mary&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Couture Med Spa - Lake Mary</stringValue>
        </value>
    </choices>
    <choices>
        <name>CoutureMedSpaOcoee</name>
        <choiceText>&lt;strong style=&quot;font-size: 14px;&quot;&gt;Couture Med Spa - Ocoee&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Couture Med Spa - Ocoee</stringValue>
        </value>
    </choices>
    <choices>
        <name>CoutureMedSpaOviedo</name>
        <choiceText>&lt;strong style=&quot;font-size: 14px;&quot;&gt;Couture Med Spa - Oviedo&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Couture Med Spa - Oviedo</stringValue>
        </value>
    </choices>
    <choices>
        <name>CoutureMedSpaWinterPark</name>
        <choiceText>&lt;strong style=&quot;font-size: 14px;&quot;&gt;Couture Med Spa - Winter Park&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Couture Med Spa - Winter Park</stringValue>
        </value>
    </choices>
    <constants>
        <name>FIND_RESOURCE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>findResource</stringValue>
        </value>
    </constants>
    <constants>
        <name>SPECIFIC</name>
        <dataType>String</dataType>
        <value>
            <stringValue>specific</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Change_Primary</name>
        <label>Change Primary</label>
        <locationX>578</locationX>
        <locationY>2138</locationY>
        <defaultConnector>
            <targetReference>SetReviewStage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Change_Primary_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>changePrimary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Selected_Values_on_Change</targetReference>
            </connector>
            <label>Change Primary Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Location</name>
        <label>Check Location</label>
        <locationX>578</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>LocationScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lake_Mary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Appointment_Location_new</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CoutureMedSpaLakeMary</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_la</targetReference>
            </connector>
            <label>Lake Mary</label>
        </rules>
        <rules>
            <name>Ocoee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Appointment_Location_new</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CoutureMedSpaOcoee</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Set_lat_and_long</targetReference>
            </connector>
            <label>Ocoee</label>
        </rules>
        <rules>
            <name>Oviedo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Appointment_Location_new</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CoutureMedSpaOviedo</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Copy_1_of_Set_lat_and_long</targetReference>
            </connector>
            <label>Oviedo</label>
        </rules>
        <rules>
            <name>Winter_Park</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Appointment_Location_new</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CoutureMedSpaWinterPark</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C1_of_Set_lat_and_long</targetReference>
            </connector>
            <label>Winter Park</label>
        </rules>
    </decisions>
    <decisions>
        <name>Primary_Resource_Change_Screen_Decision</name>
        <label>Primary Resource Change Screen Decision</label>
        <locationX>424</locationX>
        <locationY>2354</locationY>
        <defaultConnector>
            <targetReference>AttendeesScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Filter_By_Resource_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FilterByResourceIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Set_Triage_Option</targetReference>
            </connector>
            <label>Filter By Resource IDs</label>
        </rules>
    </decisions>
    <decisions>
        <name>ResourceDecision</name>
        <label>Resource Decision</label>
        <locationX>578</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>SetTimeSlotStage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>FindResource</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>selectedTriageOption</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>FIND_RESOURCE</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>allowResourceBooking</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>allowAnonymousBooking</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCandidateStage</targetReference>
            </connector>
            <label>Find Resource</label>
        </rules>
        <rules>
            <name>Anonymous_Booking</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedTriageOption</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>FIND_RESOURCE</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>allowAnonymousBooking</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Anonymous_Status</targetReference>
            </connector>
            <label>Anonymous Booking</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_Resource_Selection_Screen_Decision</name>
        <label>Service Resource Selection Screen Decision</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>AttendeesScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Anonymous_Bookings</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>allowAnonymousBooking</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>allowResourceBooking</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Triage_Option</targetReference>
            </connector>
            <label>Anonymous Booking</label>
        </rules>
        <rules>
            <name>Filter_By_Resource_IDs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FilterByResourceIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Set_Triage_Option</targetReference>
            </connector>
            <label>Filter By Resource IDs</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Lead Custom Outbound New Appointment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Custom Outbound New Appointment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Appointments</processType>
    <recordLookups>
        <name>Get_lead</name>
        <label>Get lead</label>
        <locationX>1106</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetInitialValues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_service_resource_details</name>
        <label>get service resource details</label>
        <locationX>578</locationX>
        <locationY>1922</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Time_Slot_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>serviceResourceId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Service_Teritry</name>
        <label>get Service Teritry</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Location</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Appointment_Location_new</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceTerritory</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_lead_status</name>
        <label>Update lead status</label>
        <locationX>732</locationX>
        <locationY>2786</locationY>
        <connector>
            <targetReference>ConfirmationScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Schedule - Service/Appt Scheduled</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Service_appointmnet</name>
        <label>update Service appointment</label>
        <locationX>732</locationX>
        <locationY>2570</locationY>
        <connector>
            <targetReference>SetConfirmationStage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointment.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>get_Service_Teritry.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>get_Service_Teritry.Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>get_Service_Teritry.PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room__c</field>
            <value>
                <elementReference>get_service_resource_details.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>get_Service_Teritry.State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>get_Service_Teritry.Street</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <screens>
        <name>AppointmentTypeScreen</name>
        <label>Appointment Type Screen</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SetLocationStage</targetReference>
        </connector>
        <fields>
            <name>flowApptType</name>
            <extensionName>runtime_appointmentbooking:flowApptType</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectedApptType</name>
                <value>
                    <elementReference>ServiceAppointment.AppointmentType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>engagementChannelType</name>
                <value>
                    <elementReference>engagementChannelTypeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workTypeGroupId</name>
                <value>
                    <elementReference>workTypeGroupId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ServiceAppointment.AppointmentType</assignToReference>
                <name>selectedApptType</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>engagementChannelTypeId</assignToReference>
                <name>engagementChannelType</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>workTypeGroupId</assignToReference>
                <name>workTypeGroupId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AttendeesScreen</name>
        <label>Attendees Screen</label>
        <locationX>1106</locationX>
        <locationY>3278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SetTopicStage</targetReference>
        </connector>
        <fields>
            <name>Appointment_Location_new</name>
            <choiceReferences>CoutureMedSpaLakeMary</choiceReferences>
            <choiceReferences>CoutureMedSpaOcoee</choiceReferences>
            <choiceReferences>CoutureMedSpaOviedo</choiceReferences>
            <choiceReferences>CoutureMedSpaWinterPark</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Appointment Location</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CandidateScreen</name>
        <label>Candidate Screen</label>
        <locationX>314</locationX>
        <locationY>1622</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SetTimeSlotStage</targetReference>
        </connector>
        <fields>
            <name>flowCandidate</name>
            <extensionName>runtime_appointmentbooking:flowCandidate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>parentRecordId</name>
                <value>
                    <elementReference>ServiceAppointment.ParentRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceTerritoryId</name>
                <value>
                    <elementReference>ServiceAppointment.ServiceTerritoryId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workTypeGroupId</name>
                <value>
                    <elementReference>workTypeGroupId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedServiceResourceId</name>
                <value>
                    <elementReference>serviceResourceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationErrors</name>
                <value>
                    <elementReference>validationErrors</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>skillsStartDate</name>
                <value>
                    <elementReference>skillsStartDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>anonymousBooking</name>
                <value>
                    <elementReference>allowAnonymousBooking</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>resourceBooking</name>
                <value>
                    <elementReference>allowResourceBooking</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isAnonymousBooking</name>
                <value>
                    <elementReference>ServiceAppointment.IsAnonymousBooking</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>schedulingPolicyName</name>
                <value>
                    <elementReference>SchedulingPolicyName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterByResources</name>
                <value>
                    <elementReference>FilterByResourceIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>defaultTimezone</name>
                <value>
                    <elementReference>DefaultTimeZone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>correlationId</name>
                <value>
                    <elementReference>correlationId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>engagementChannelType</name>
                <value>
                    <elementReference>engagementChannelTypeId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>workTypeGroupId</assignToReference>
                <name>workTypeGroupId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>serviceResourceId</assignToReference>
                <name>selectedServiceResourceId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>validationErrors</assignToReference>
                <name>validationErrors</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>skillsStartDate</assignToReference>
                <name>skillsStartDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.IsAnonymousBooking</assignToReference>
                <name>isAnonymousBooking</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>engagementChannelTypeId</assignToReference>
                <name>engagementChannelType</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ConfirmationScreen</name>
        <label>Confirmation Screen</label>
        <locationX>732</locationX>
        <locationY>2894</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>flowConfirm</name>
            <extensionName>runtime_appointmentbooking:flowConfirm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>LocationScreen</name>
        <label>Location Screen</label>
        <locationX>1106</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ResourceDecision</targetReference>
        </connector>
        <fields>
            <name>flowLocation</name>
            <extensionName>runtime_appointmentbooking:flowLocation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>workTypeGroupId</name>
                <value>
                    <elementReference>workTypeGroupId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceTerritoryId</name>
                <value>
                    <elementReference>ServiceAppointment.ServiceTerritoryId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResourceId</name>
                <value>
                    <elementReference>serviceResourceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>enteredLocation</name>
                <value>
                    <elementReference>selectedLocation</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>distance</name>
                <value>
                    <elementReference>locationDistance</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lat</name>
                <value>
                    <elementReference>locationLatitude</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>long</name>
                <value>
                    <elementReference>locationLongitude</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationErrors</name>
                <value>
                    <elementReference>validationErrors</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>distanceUnit</name>
                <value>
                    <elementReference>distanceUnit</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterByResources</name>
                <value>
                    <elementReference>FilterByResourceIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideStOh</name>
                <value>
                    <elementReference>hideStOh</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <stringValue>USA</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>city</name>
                <value>
                    <stringValue>San Francisco</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ServiceAppointment.ServiceTerritoryId</assignToReference>
                <name>serviceTerritoryId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.City</assignToReference>
                <name>city</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.Country</assignToReference>
                <name>country</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.PostalCode</assignToReference>
                <name>postalCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.State</assignToReference>
                <name>state</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.Street</assignToReference>
                <name>street</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedLocation</assignToReference>
                <name>enteredLocation</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>locationDistance</assignToReference>
                <name>distance</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>locationLatitude</assignToReference>
                <name>lat</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>locationLongitude</assignToReference>
                <name>long</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>validationErrors</assignToReference>
                <name>validationErrors</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ReviewScreen</name>
        <label>Review Screen</label>
        <locationX>732</locationX>
        <locationY>2354</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Save_Appointment</targetReference>
        </connector>
        <fields>
            <name>newFlowReview</name>
            <extensionName>runtime_appointmentbooking:flowReviewIO</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>appointmentType</name>
                <value>
                    <elementReference>ServiceAppointment.AppointmentType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactId</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentRecordId</name>
                <value>
                    <elementReference>ServiceAppointment.ParentRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>additionalInformation</name>
                <value>
                    <elementReference>ServiceAppointment.AdditionalInformation</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>ServiceAppointment.City</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>comments</name>
                <value>
                    <elementReference>ServiceAppointment.Comments</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>ServiceAppointment.Country</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>endDateTime</name>
                <value>
                    <elementReference>ServiceAppointment.SchedEndTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>ServiceAppointment.PostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>startDateTime</name>
                <value>
                    <elementReference>ServiceAppointment.SchedStartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>state</name>
                <value>
                    <elementReference>ServiceAppointment.State</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>ServiceAppointment.Street</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResourceId</name>
                <value>
                    <elementReference>serviceResourceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceTerritoryId</name>
                <value>
                    <elementReference>ServiceAppointment.ServiceTerritoryId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workTypeGroupId</name>
                <value>
                    <elementReference>workTypeGroupId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceAppointmentFields</name>
                <value>
                    <elementReference>serviceAppointmentFields</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isAnonymousBooking</name>
                <value>
                    <elementReference>ServiceAppointment.IsAnonymousBooking</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionalAttendees</name>
                <value>
                    <elementReference>optionalAttendees</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveErrors</name>
                <value>
                    <elementReference>$Flow.FaultMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResources</name>
                <value>
                    <elementReference>serviceResources</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowResourceSection</name>
                <value>
                    <elementReference>showServiceResource</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedTimezone</name>
                <value>
                    <elementReference>selectedTimezone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationErrors</name>
                <value>
                    <elementReference>validationErrors</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>schedulingPolicyName</name>
                <value>
                    <elementReference>SchedulingPolicyName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>engagementChannelType</name>
                <value>
                    <elementReference>engagementChannelTypeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceAppointment</name>
                <value>
                    <elementReference>ServiceAppointment</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>serviceAppointmentFields</assignToReference>
                <name>serviceAppointmentFields</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>optionalAttendees</assignToReference>
                <name>optionalAttendees</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>validationErrors</assignToReference>
                <name>validationErrors</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>engagementChannelTypeId</assignToReference>
                <name>engagementChannelType</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Time_Slot_Screen</name>
        <label>Time Slot Screen</label>
        <locationX>578</locationX>
        <locationY>2030</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Change_Primary</targetReference>
        </connector>
        <fields>
            <name>flowTimeslot</name>
            <extensionName>runtime_appointmentbooking:flowTimeslot</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isAnonymousBooking</name>
                <value>
                    <elementReference>ServiceAppointment.IsAnonymousBooking</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>correlationId</name>
                <value>
                    <elementReference>correlationId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>preselectedTimezone</name>
                <value>
                    <elementReference>DefaultTimeZone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disableMultiResourceAndConcurrency</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>engagementChannelType</name>
                <value>
                    <elementReference>engagementChannelTypeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterByResources</name>
                <value>
                    <elementReference>FilterByResourceIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentRecordId</name>
                <value>
                    <elementReference>ServiceAppointment.ParentRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>schedulingPolicyName</name>
                <value>
                    <elementReference>SchedulingPolicyName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedEndTime</name>
                <value>
                    <elementReference>ServiceAppointment.SchedEndTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedStartTime</name>
                <value>
                    <elementReference>ServiceAppointment.SchedStartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedTimezone</name>
                <value>
                    <elementReference>selectedTimezone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResourceId</name>
                <value>
                    <elementReference>serviceResourceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResources</name>
                <value>
                    <elementReference>serviceResources</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceTerritoryId</name>
                <value>
                    <elementReference>ServiceAppointment.ServiceTerritoryId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currStartDate</name>
                <value>
                    <elementReference>startDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>skillsStartDate</name>
                <value>
                    <elementReference>skillsStartDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationErrors</name>
                <value>
                    <elementReference>validationErrors</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workTypeGroupId</name>
                <value>
                    <elementReference>workTypeGroupId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>changePrimary</assignToReference>
                <name>changePrimary</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>engagementChannelTypeId</assignToReference>
                <name>engagementChannelType</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.SchedEndTime</assignToReference>
                <name>selectedEndTime</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.SchedStartTime</assignToReference>
                <name>selectedStartTime</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedTimezone</assignToReference>
                <name>selectedTimezone</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>serviceResourceId</assignToReference>
                <name>serviceResourceId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>serviceResources</assignToReference>
                <name>serviceResources</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.ServiceTerritoryId</assignToReference>
                <name>serviceTerritoryId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>startDate</assignToReference>
                <name>currStartDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>validationErrors</assignToReference>
                <name>validationErrors</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>workTypeGroupId</assignToReference>
                <name>workTypeGroupId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TopicScreen</name>
        <label>Topic Screen</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SetAppointmentStage</targetReference>
        </connector>
        <fields>
            <name>flowWorkType</name>
            <extensionName>runtime_appointmentbooking:flowWorkType</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>serviceResourceId</name>
                <value>
                    <elementReference>serviceResourceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workTypeGroupId</name>
                <value>
                    <elementReference>workTypeGroupId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>additionalInformation</name>
                <value>
                    <elementReference>ServiceAppointment.AdditionalInformation</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>comments</name>
                <value>
                    <elementReference>ServiceAppointment.Comments</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationErrors</name>
                <value>
                    <elementReference>validationErrors</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterByResources</name>
                <value>
                    <elementReference>FilterByResourceIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterByWorkTypeGroups</name>
                <value>
                    <elementReference>FilterByWorkTypeGroupIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>schedulingPolicyName</name>
                <value>
                    <elementReference>SchedulingPolicyName</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>workTypeGroupId</assignToReference>
                <name>workTypeGroupId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.AdditionalInformation</assignToReference>
                <name>additionalInformation</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.Comments</assignToReference>
                <name>comments</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>validationErrors</assignToReference>
                <name>validationErrors</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>runtime_appointmentbooking__Flow</sourceTemplate>
    <stages>
        <name>AppointmentTypeStage</name>
        <isActive>true</isActive>
        <label>Select Appointment Type</label>
        <stageOrder>20</stageOrder>
    </stages>
    <stages>
        <name>AttendeesStage</name>
        <isActive>true</isActive>
        <label>Select Attendees</label>
        <stageOrder>0</stageOrder>
    </stages>
    <stages>
        <name>CandidateStage</name>
        <isActive>true</isActive>
        <label>Select Candidate</label>
        <stageOrder>40</stageOrder>
    </stages>
    <stages>
        <name>ConfirmationStage</name>
        <isActive>true</isActive>
        <label>Confirmation</label>
        <stageOrder>70</stageOrder>
    </stages>
    <stages>
        <name>LocationStage</name>
        <isActive>true</isActive>
        <label>Select Location</label>
        <stageOrder>30</stageOrder>
    </stages>
    <stages>
        <name>ReviewStage</name>
        <isActive>true</isActive>
        <label>Review</label>
        <stageOrder>60</stageOrder>
    </stages>
    <stages>
        <name>TimeSlotStage</name>
        <isActive>true</isActive>
        <label>Select Time Slot</label>
        <stageOrder>50</stageOrder>
    </stages>
    <stages>
        <name>TopicStage</name>
        <isActive>true</isActive>
        <label>Select Topic</label>
        <stageOrder>10</stageOrder>
    </stages>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_lead</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>allowAnonymousBooking</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>allowResourceBooking</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>changePrimary</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>correlationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Specify a default time zone for Lightning Scheduler appointments.</description>
        <name>DefaultTimeZone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>variable to hold values of distance units</description>
        <name>distanceUnit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>mi</stringValue>
        </value>
    </variables>
    <variables>
        <description>The ID of the selected Engagement Channel Type.</description>
        <name>engagementChannelTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Specify a comma-separated list of service resource IDs. Depending on the page, these IDs are used to filter work type groups, service territories, or service resources.</description>
        <name>FilterByResourceIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FilterByWorkTypeGroupIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Specify whether to display ST OH or not</description>
        <name>hideStOh</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>locationDistance</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>locationLatitude</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>locationLongitude</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>optionalAttendees</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the API name of the scheduling policy you want to associate with the flow.</description>
        <name>SchedulingPolicyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedTimezone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedTriageOption</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>serviceAppointmentFields</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceResourceName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceResources</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>showServiceResource</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>showTimeZonePicklist</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>skillsStartDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>startDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>validationErrors</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workTypeGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
